# importing the Requried libraries and reading the dataset

In [36]:
# libraies
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression

In [83]:
# Reading dataset

data = pd.read_csv('data.csv')

In [84]:
#reading starting 10 data in dataset
data.head(10)

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0
5,2015,101953,329-6603,NaN,31,65,no,no,193.65,12.7,21.95,111,6,4.0,4,1.0
6,2015,103051,416-1845,NaN,54,59,no,no,239.25,10.2,27.12,106,4,NaN,0,0.0
7,2015,103225,348-7193,Female,40,50,no,no,196.65,5.6,22.29,88,9,NaN,5,1.0
8,2015,103408,413-4039,Male,61,205,no,yes,263.70,7.8,29.89,64,5,3.0,2,0.0
9,2015,103676,338-5207,Male,31,63,no,no,316.80,12.3,35.90,58,2,4.0,0,0.0

In [85]:
#reading last 10 data in dataset
data.tail(10)

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
1990,2015,993714,364-1969,Male,32,61,no,no,67.50,9.8,7.65,94,6,3.0,2,0.0
1991,2015,993815,387-5891,Male,49,50,yes,yes,460.65,8.0,52.21,109,3,3.0,0,0.0
1992,2015,994954,329-3222,Female,42,119,no,yes,176.70,7.6,20.03,76,3,3.0,3,0.0
1993,2015,996129,401-3170,Male,36,127,no,no,303.15,11.5,34.36,113,3,4.0,2,NaN
1994,2015,996524,351-9604,Female,60,141,no,yes,310.35,9.3,35.17,124,11,3.0,2,NaN
1995,2015,997132,385-7387,Female,54,75,no,yes,182.25,11.3,20.66,97,5,4.0,2,NaN
1996,2015,998086,383-9255,Male,45,127,no,no,273.45,9.3,30.99,116,3,3.0,1,0.0
1997,2015,998474,353-2080,NaN,53,94,no,no,128.85,15.6,14.60,110,16,5.0,0,0.0
1998,2015,998934,359-7788,Male,40,94,no,no,178.05,10.4,20.18,100,6,NaN,3,0.0
1999,2015,999961,414-1496,Male,37,73,no,no,326.70,10.3,37.03,89,6,3.0,1,1.0

In [86]:
#finding number of Rows nd Columns
data.shape

(2000, 16)

# Dropping of unwanted columns

In [87]:
#finding any null values in dataset
data.isna().sum()

year                       0
customer_id                0
phone_no                   0
gender                    24
age                        0
no_of_days_subscribed      0
multi_screen               0
mail_subscribed            0
weekly_mins_watched        0
minimum_daily_mins         0
maximum_daily_mins         0
weekly_max_night_mins      0
videos_watched             0
maximum_days_inactive     28
customer_support_calls     0
churn                     35
dtype: int64

In [88]:
#removing unwanted columns 
new_data=data.drop(['year','customer_id','phone_no'],axis=1)

In [89]:
#dataset columns after droping unwanted columns
new_data.columns

Index(['gender', 'age', 'no_of_days_subscribed', 'multi_screen',
       'mail_subscribed', 'weekly_mins_watched', 'minimum_daily_mins',
       'maximum_daily_mins', 'weekly_max_night_mins', 'videos_watched',
       'maximum_days_inactive', 'customer_support_calls', 'churn'],
      dtype='object')

In [90]:
new_data.shape

(2000, 13)

In [116]:
#label encoding
data1=pd.get_dummies(new_data, columns=['gender','multi_screen','mail_subscribed'],drop_first=True)

In [117]:
data1.isna().sum()

age                        0
no_of_days_subscribed      0
weekly_mins_watched        0
minimum_daily_mins         0
maximum_daily_mins         0
weekly_max_night_mins      0
videos_watched             0
maximum_days_inactive     28
customer_support_calls     0
churn                     35
gender_Male                0
multi_screen_yes           0
mail_subscribed_yes        0
dtype: int64

In [120]:
# filling nan values
data1['maximum_days_inactive']=np.where(data1['maximum_days_inactive'].isnull(),1,0)
data1['maximum_days_inactive']

0       0
1       0
2       0
3       0
4       0
       ..
1995    0
1996    0
1997    0
1998    1
1999    0
Name: maximum_days_inactive, Length: 2000, dtype: int32

In [121]:
# filling nan values
data1['churn']=np.where(data1['churn'].isnull(),1,0)
data1['churn']

0       0
1       0
2       0
3       0
4       0
       ..
1995    1
1996    0
1997    0
1998    0
1999    0
Name: churn, Length: 2000, dtype: int32

In [122]:
# finding mean for columns
data1.mean()

age                        38.690500
no_of_days_subscribed      99.750000
weekly_mins_watched       270.178425
minimum_daily_mins         10.198700
maximum_daily_mins         30.620780
weekly_max_night_mins     100.415500
videos_watched              4.482500
maximum_days_inactive       0.014000
customer_support_calls      1.547000
churn                       0.017500
gender_Male                 0.526500
multi_screen_yes            0.099000
mail_subscribed_yes         0.285000
dtype: float64

In [123]:
data1.isna().sum()

age                       0
no_of_days_subscribed     0
weekly_mins_watched       0
minimum_daily_mins        0
maximum_daily_mins        0
weekly_max_night_mins     0
videos_watched            0
maximum_days_inactive     0
customer_support_calls    0
churn                     0
gender_Male               0
multi_screen_yes          0
mail_subscribed_yes       0
dtype: int64

In [124]:
# standard deviation
new_data.std()

C:\Users\dasav\AppData\Local\Temp/ipykernel_9388/3030203198.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_data.std()

age                       10.206410
no_of_days_subscribed     39.755386
weekly_mins_watched       80.551627
minimum_daily_mins         2.785519
maximum_daily_mins         9.129165
weekly_max_night_mins     19.529454
videos_watched             2.487728
maximum_days_inactive      0.809084
customer_support_calls     1.315164
churn                      0.340021
dtype: float64

In [125]:
# data descrition
new_data.describe()

,age,no_of_days_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
count,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1972.000000,2000.000000,1965.000000
mean,38.69050,99.750000,270.178425,10.198700,30.620780,100.415500,4.482500,3.250507,1.547000,0.133333
std,10.20641,39.755386,80.551627,2.785519,9.129165,19.529454,2.487728,0.809084,1.315164,0.340021
min,18.00000,1.000000,0.000000,0.000000,0.000000,42.000000,0.000000,0.000000,0.000000,0.000000
25%,32.00000,73.000000,218.212500,8.400000,24.735000,87.000000,3.000000,3.000000,1.000000,0.000000
50%,37.00000,99.000000,269.925000,10.200000,30.590000,101.000000,4.000000,3.000000,1.000000,0.000000
75%,44.00000,127.000000,324.675000,12.000000,36.797500,114.000000,6.000000,4.000000,2.000000,0.000000
max,82.00000,243.000000,526.200000,20.000000,59.640000,175.000000,19.000000,6.000000,9.000000,1.000000

In [126]:
# data impformation
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  1976 non-null   object
 1   age                     2000 non-null   int64
 2   no_of_days_subscribed   2000 non-null   int64
 3   multi_screen            2000 non-null   object
 4   mail_subscribed         2000 non-null   object
 5   weekly_mins_watched     2000 non-null   float64
 6   minimum_daily_mins      2000 non-null   float64
 7   maximum_daily_mins      2000 non-null   float64
 8   weekly_max_night_mins   2000 non-null   int64
 9   videos_watched          2000 non-null   int64
 10  maximum_days_inactive   1972 non-null   float64
 11  customer_support_calls  2000 non-null   int64
 12  churn                   1965 non-null   float64
dtypes: float64(5), int64(5), object(3)
memory usage: 203.2+ KB

In [127]:
# statical analysis of data with correlation function
corr =new_data.corr()
corr

,age,no_of_days_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
age,1.000000,0.038822,0.016316,-0.000676,0.016328,0.016645,0.013076,0.006690,0.000618,0.011631
no_of_days_subscribed,0.038822,1.000000,0.000657,0.016329,0.000652,-0.001967,0.019414,0.017961,0.013419,0.002528
weekly_mins_watched,0.016316,0.000657,1.000000,-0.017332,1.000000,0.037715,0.018619,-0.013635,-0.036848,0.165871
minimum_daily_mins,-0.000676,0.016329,-0.017332,1.000000,-0.017330,0.008430,0.050739,0.932155,-0.003943,0.067668
maximum_daily_mins,0.016328,0.000652,1.000000,-0.017330,1.000000,0.037716,0.018621,-0.013634,-0.036854,0.165870
weekly_max_night_mins,0.016645,-0.001967,0.037715,0.008430,0.037716,1.000000,-0.000298,0.026676,-0.003965,0.006211
videos_watched,0.013076,0.019414,0.018619,0.050739,0.018621,-0.000298,1.000000,0.033829,-0.001201,-0.020780
maximum_days_inactive,0.006690,0.017961,-0.013635,0.932155,-0.013634,0.026676,0.033829,1.000000,-0.001572,0.048040
customer_support_calls,0.000618,0.013419,-0.036848,-0.003943,-0.036854,-0.003965,-0.001201,-0.001572,1.000000,0.208271
churn,0.011631,0.002528,0.165871,0.067668,0.165870,0.006211,-0.020780,0.048040,0.208271,1.000000

# 3. Model building

In [128]:
# independend variables
x = data1.drop(['churn'], axis=True)
# dependend variables
y = data1['churn']

In [129]:
# applying train test split 
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=42)

In [130]:
xtrain.head()

,age,no_of_days_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,gender_Male,multi_screen_yes,mail_subscribed_yes
836,54,130,310.65,12.4,35.21,100,2,0,1,0,0,0
575,22,106,405.45,14.4,45.95,133,7,0,1,0,1,1
557,33,137,261.60,10.2,29.65,121,5,0,0,1,0,0
1235,32,77,284.25,9.2,32.22,91,7,0,0,1,0,0
1360,39,132,263.55,8.6,29.87,118,3,0,2,0,0,1

In [131]:
xtest.head()

,age,no_of_days_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,gender_Male,multi_screen_yes,mail_subscribed_yes
1860,33,23,169.65,6.9,19.23,126,2,1,1,0,0,0
353,27,50,321.45,10.6,36.43,130,4,0,1,1,0,1
1333,45,108,281.10,12.6,31.86,107,8,0,1,0,0,0
905,43,155,325.05,10.8,36.84,106,1,0,2,0,0,0
1289,41,146,231.00,8.2,26.18,107,4,0,3,1,0,1

In [132]:
ytrain.head()

836     0
575     0
557     0
1235    0
1360    0
Name: churn, dtype: int32

In [133]:
ytest.head()

1860    0
353     0
1333    0
905     0
1289    0
Name: churn, dtype: int32

# randomforestclassifier

In [134]:
# model building with randomforestclassifier
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(criterion ='gini', max_depth = 20, n_estimators =100)
rfc.fit(xtrain,ytrain)

RandomForestClassifier(max_depth=20)

In [135]:
# prediction values
y_pred = rfc.predict(xtest)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0])

# Model validation(predictions)

In [136]:
# accuracy score
score =accuracy_score(ytest,y_pred)
score

0.9883333333333333

In [141]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest, y_pred)

array([[593,   0],
       [  7,   0]], dtype=int64)

In [146]:
from sklearn.metrics import classification_report
print(classification_report(ytest, y_pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99       593
           1       0.00      0.00      0.00         7

    accuracy                           0.99       600
   macro avg       0.49      0.50      0.50       600
weighted avg       0.98      0.99      0.98       600

C:\Users\dasav\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dasav\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dasav\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))